# SPARK Queries:

# SPARK_SQL_QURIES
1.Create tables for movies.dat, users.dat and ratings.dat: Saving Tables from Spark SQL
2.Find the list of the oldest released movies.
3.How many movies are released each year?
4.How many number of movies are there for each rating?
5.How many users have rated each movie?
6.What is the total rating for each movie?
7.What is the average rating for each movie?

In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /Users/jhansiboda/anaconda3/lib/python3.10/site-packages (3.4.0)
Requirement already satisfied: py4j==0.10.9.7 in /Users/jhansiboda/anaconda3/lib/python3.10/site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from pyspark.sql.functions import *
from pyspark.sql import SparkSession
from pyspark.sql.functions import substring, col

In [3]:
home_dir = "/Users/jhansiboda/Desktop/MovieAnalytics/Movie-Analytics-project/MovieLens Dataset/"

In [4]:
print(home_dir)

/Users/jhansiboda/Desktop/MovieAnalytics/Movie-Analytics-project/MovieLens Dataset/

In [5]:
# Create a SparkSession
spark = SparkSession.builder.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/06/21 10:05:41 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/06/21 10:05:42 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [6]:
df_movies = spark.read.option("header", "False").option("delimiter","::").option("inferSchema","true").csv(home_dir + "movies.csv")

In [7]:
print(df_movies)

DataFrame[_c0: int, _c1: string, _c2: string]

In [8]:
df_movies.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

In [9]:
df_movies.dtypes
df_movies.show(10)

+---+--------------------+--------------------+
|_c0|                 _c1|                 _c2|
+---+--------------------+--------------------+
|  1|    Toy Story (1995)|Animation|Childre...|
|  2|      Jumanji (1995)|Adventure|Childre...|
|  3|Grumpier Old Men ...|      Comedy|Romance|
|  4|Waiting to Exhale...|        Comedy|Drama|
|  5|Father of the Bri...|              Comedy|
|  6|         Heat (1995)|Action|Crime|Thri...|
|  7|      Sabrina (1995)|      Comedy|Romance|
|  8| Tom and Huck (1995)|Adventure|Children's|
|  9| Sudden Death (1995)|              Action|
| 10|    GoldenEye (1995)|Action|Adventure|...|
+---+--------------------+--------------------+
only showing top 10 rows

23/06/21 10:05:53 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [10]:
df_movies.count()

3883

In [11]:
df_ratings = spark.read.option("header", "False").option("delimiter","::").option("inferSchema","true").csv(home_dir + "ratings.csv")

In [12]:
print(df_ratings)
df_ratings.printSchema()

DataFrame[_c0: int, _c1: int, _c2: int, _c3: int]
root
 |-- _c0: integer (nullable = true)
 |-- _c1: integer (nullable = true)
 |-- _c2: integer (nullable = true)
 |-- _c3: integer (nullable = true)

In [13]:
df_ratings.dtypes
df_ratings.show(10)

+---+----+---+---------+
|_c0| _c1|_c2|      _c3|
+---+----+---+---------+
|  1|1193|  5|978300760|
|  1| 661|  3|978302109|
|  1| 914|  3|978301968|
|  1|3408|  4|978300275|
|  1|2355|  5|978824291|
|  1|1197|  3|978302268|
|  1|1287|  5|978302039|
|  1|2804|  5|978300719|
|  1| 594|  4|978302268|
|  1| 919|  4|978301368|
+---+----+---+---------+
only showing top 10 rows

In [14]:
df_ratings.count()

1000209

In [15]:
df_users = spark.read.option("header", "False").option("delimiter","::").option("inferSchema","true").csv(home_dir + "users.csv")

In [16]:
print(df_users)
df_users.printSchema()

DataFrame[_c0: int, _c1: string, _c2: int, _c3: int, _c4: string]
root
 |-- _c0: integer (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: integer (nullable = true)
 |-- _c3: integer (nullable = true)
 |-- _c4: string (nullable = true)

In [17]:
df_users.dtypes
df_users.show(10)

+---+---+---+---+-----+
|_c0|_c1|_c2|_c3|  _c4|
+---+---+---+---+-----+
|  1|  F|  1| 10|48067|
|  2|  M| 56| 16|70072|
|  3|  M| 25| 15|55117|
|  4|  M| 45|  7|02460|
|  5|  M| 25| 20|55455|
|  6|  F| 50|  9|55117|
|  7|  M| 35|  1|06810|
|  8|  M| 25| 12|11413|
|  9|  M| 25| 17|61614|
| 10|  F| 35|  1|95370|
+---+---+---+---+-----+
only showing top 10 rows

In [18]:
df_users.count()

6040

# 1.Create tables for movies.csv, users.csv and ratings.csv: Saving Tables from Spark SQL

In [19]:
column_names = ["user_id", "movie_id", "rating", "timestamp"]

In [20]:
df_rating = df_ratings.toDF(*column_names)
df_rating.show()

+-------+--------+------+---------+
|user_id|movie_id|rating|timestamp|
+-------+--------+------+---------+
|      1|    1193|     5|978300760|
|      1|     661|     3|978302109|
|      1|     914|     3|978301968|
|      1|    3408|     4|978300275|
|      1|    2355|     5|978824291|
|      1|    1197|     3|978302268|
|      1|    1287|     5|978302039|
|      1|    2804|     5|978300719|
|      1|     594|     4|978302268|
|      1|     919|     4|978301368|
|      1|     595|     5|978824268|
|      1|     938|     4|978301752|
|      1|    2398|     4|978302281|
|      1|    2918|     4|978302124|
|      1|    1035|     5|978301753|
|      1|    2791|     4|978302188|
|      1|    2687|     3|978824268|
|      1|    2018|     4|978301777|
|      1|    3105|     5|978301713|
|      1|    2797|     4|978302039|
+-------+--------+------+---------+
only showing top 20 rows

In [21]:
column_names = ["user_id", "gender", "age", "occupation", "zip_code"]

In [22]:
df_user = df_users.toDF(*column_names)
df_user.show()

+-------+------+---+----------+--------+
|user_id|gender|age|occupation|zip_code|
+-------+------+---+----------+--------+
|      1|     F|  1|        10|   48067|
|      2|     M| 56|        16|   70072|
|      3|     M| 25|        15|   55117|
|      4|     M| 45|         7|   02460|
|      5|     M| 25|        20|   55455|
|      6|     F| 50|         9|   55117|
|      7|     M| 35|         1|   06810|
|      8|     M| 25|        12|   11413|
|      9|     M| 25|        17|   61614|
|     10|     F| 35|         1|   95370|
|     11|     F| 25|         1|   04093|
|     12|     M| 25|        12|   32793|
|     13|     M| 45|         1|   93304|
|     14|     M| 35|         0|   60126|
|     15|     M| 25|         7|   22903|
|     16|     F| 35|         0|   20670|
|     17|     M| 50|         1|   95350|
|     18|     F| 18|         3|   95825|
|     19|     M|  1|        10|   48073|
|     20|     M| 25|        14|   55113|
+-------+------+---+----------+--------+
only showing top 20 rows

In [23]:
column_names = ["movie_id","title","genres"]

In [24]:
df_movie = df_movies.toDF(*column_names)
df_movie.show()

+--------+--------------------+--------------------+
|movie_id|               title|              genres|
+--------+--------------------+--------------------+
|       1|    Toy Story (1995)|Animation|Childre...|
|       2|      Jumanji (1995)|Adventure|Childre...|
|       3|Grumpier Old Men ...|      Comedy|Romance|
|       4|Waiting to Exhale...|        Comedy|Drama|
|       5|Father of the Bri...|              Comedy|
|       6|         Heat (1995)|Action|Crime|Thri...|
|       7|      Sabrina (1995)|      Comedy|Romance|
|       8| Tom and Huck (1995)|Adventure|Children's|
|       9| Sudden Death (1995)|              Action|
|      10|    GoldenEye (1995)|Action|Adventure|...|
|      11|American Presiden...|Comedy|Drama|Romance|
|      12|Dracula: Dead and...|       Comedy|Horror|
|      13|        Balto (1995)|Animation|Children's|
|      14|        Nixon (1995)|               Drama|
|      15|Cutthroat Island ...|Action|Adventure|...|
|      16|       Casino (1995)|      Drama|Thriller|
|      17|Sense and Sensibi...|       Drama|Romance|
|      18|   Four Rooms (1995)|            Thriller|
|      19|Ace Ventura: When...|              Comedy|
|      20|  Money Train (1995)|              Action|
+--------+--------------------+--------------------+
only showing top 20 rows

In [25]:
df_user.count()
df_rating.count()
df_movie.count()

df_movie.createOrReplaceTempView("movies")
df_rating.createOrReplaceTempView("ratings")
df_user.createOrReplaceTempView("users")

# 2.Find the list of the oldest released movies.

In [26]:
df_movie.createOrReplaceTempView("movies")
spark.sql("select movie_id, title, substring(title, -5,4) as year, genres from movies").createOrReplaceTempView("movies_new")
spark.sql("select movie_id,title,genres,year from movies_new m1 where m1.year = (select min(m2.year) from movies_new m2)").show()

+--------+--------------------+---------------+----+
|movie_id|               title|         genres|year|
+--------+--------------------+---------------+----+
|    2821|Male and Female (...|Adventure|Drama|1919|
|    2823|Spiders, The (Die...|   Action|Drama|1919|
|    3132|Daddy Long Legs (...|         Comedy|1919|
+--------+--------------------+---------------+----+

# 3.How many movies are released each year?

In [27]:
spark.sql("select year, count(*) as total_movie_release from movies_new \
... group by year \
... order by year asc").show()

+----+-------------------+
|year|total_movie_release|
+----+-------------------+
|1919|                  3|
|1920|                  2|
|1921|                  1|
|1922|                  2|
|1923|                  3|
|1925|                  6|
|1926|                  8|
|1927|                  6|
|1928|                  3|
|1929|                  3|
|1930|                  7|
|1931|                  7|
|1932|                  7|
|1933|                  7|
|1934|                  7|
|1935|                  6|
|1936|                  8|
|1937|                 11|
|1938|                  6|
|1939|                 11|
+----+-------------------+
only showing top 20 rows

# 4.How many number of movies are there for each rating?

In [28]:
df_rating.createOrReplaceTempView("ratings")
spark.sql("select rating, count(*) as movies_per_ratings from ratings group by rating order by rating").show()

+------+------------------+
|rating|movies_per_ratings|
+------+------------------+
|     1|             56174|
|     2|            107557|
|     3|            261197|
|     4|            348971|
|     5|            226310|
+------+------------------+

# 5.How many users have rated each movie?

In [29]:
df_rating.createOrReplaceTempView("ratings")
spark.sql("select rating, count(*) as movies_per_ratings from ratings group by rating order by rating").show()

+------+------------------+
|rating|movies_per_ratings|
+------+------------------+
|     1|             56174|
|     2|            107557|
|     3|            261197|
|     4|            348971|
|     5|            226310|
+------+------------------+

# 6.What is the total rating for each movie?

In [30]:
spark.sql("select movie_id, sum(rating) as total_rating_per_movie from ratings group by movie_id order by total_rating_per_movie").show()

+--------+----------------------+
|movie_id|total_rating_per_movie|
+--------+----------------------+
|     142|                     1|
|    3209|                     1|
|     826|                     1|
|    3904|                     1|
|     730|                     1|
|    1165|                     1|
|     641|                     1|
|    1386|                     1|
|     684|                     1|
|    1115|                     1|
|    3312|                     1|
|     655|                     1|
|    2039|                     1|
|    2213|                     1|
|    3202|                     1|
|    2217|                     1|
|    3237|                     1|
|    1430|                     1|
|    3376|                     1|
|     133|                     1|
+--------+----------------------+
only showing top 20 rows

# 7.What is the average rating for each movie?

In [31]:
spark.sql("select movie_id, avg(rating) as average_rating_per_movie from ratings group by movie_id order by average_rating_per_movie desc").show()

+--------+------------------------+
|movie_id|average_rating_per_movie|
+--------+------------------------+
|     787|                     5.0|
|    3280|                     5.0|
|     989|                     5.0|
|    1830|                     5.0|
|    3881|                     5.0|
|    3172|                     5.0|
|    3233|                     5.0|
|    3607|                     5.0|
|    3382|                     5.0|
|    3656|                     5.0|
|    3245|                     4.8|
|      53|                    4.75|
|    2503|       4.666666666666667|
|    2905|       4.608695652173913|
|    2019|       4.560509554140127|
|     318|       4.554557700942973|
|     858|       4.524966261808367|
|     745|        4.52054794520548|
|      50|       4.517106001121705|
|     527|       4.510416666666667|
+--------+------------------------+
only showing top 20 rows